.transfer {
width: 100%;
height: calc(100vh - 1.5rem);
display: flex;
flex-direction: column;
justify-content: center;

}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: #fff;

}

.framy {
    display: grid;
    height: 97%;
    width: 97%;
    background: #111827;
    border-radius: 2rem;
    gap: 16px;
    grid-template-columns: 11rem auto 20rem;
    overflow: hidden;
  }
  


@media screen and (max-width: 400px) {
    
  h1 {
    font-size: 2.5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1F2937;
  padding: 50px;
  margin: 0 auto;
  border-radius: 4px;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 80%;
  max-width: 650px;

  .form__item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 10px 0;

    .label {
      font-size: 20px;
    }

    .input {
      font-size: 18px;
      margin-top: 10px;
      padding: 5px;
      border-radius: 4px;
      background-color: #374151;
    }

    .submit {
      padding: 10px;
      text-transform: uppercase;
      border-radius: 4px;
      font-weight: 600;
      background-color: #38b2ac;
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 0 3px rgba(56, 178, 172, 0.5);
      color: var(--powder-blue);
      transition: all 0.3s ease;
    }

    .submit:hover {
      box-shadow: 0 0 0 4px rgba(56, 178, 172, 0.4);
      color: var(--navy-blue);
    }

    .submit:target {
      background-color: var(--blizzard-blue);
    }
  }
}

@media screen and (max-width: 780px) {
  .form {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

  
  